body {
    width: 100vw;
    height: 100vh;
    background: black;
}
h1 {
    text-align: center;
    color:rgb(198, 243, 198);
    font-size: 400%;
    text-decoration: underline;
    font-family: "Montserrat Alternates";
    color: rgba(255, 255, 255, 0.884);
}

.row-box {
    text-align: center;
    perspective: 1000px;
}

.card {
    display: inline-block;
    width:100px;
    height: 100px;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}
.card:hover{
    border: 1px solid black;
    opacity: 0.5;
}

.card:active {
    transform: scale(.97);
    transition: transform.2s;
}

.card.done {
    cursor: default;
    transform: rotateY(180deg)

}

.card.done:hover{
    border: 0px;
    opacity: 1;
}

.red {
    background-color: #ff5151;
}
.aqua {
    background: #00a8cc;
}
.orange {
    background-color: #ffa41b;
}
.yellow {
    background-color: #ecce6d;
}
.green {
    background-color: #0a8543;
}
.blue {
    background-color: #040858;
}
.pink{
    background-color: #a4079e;
}
.purple {
    background-color: #480262;
}

.frontCard-hidden {
    background-color: #6c7b95;
}